<script type="text/javascript">
  <% if (current_user) %>
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  <% end %>
  window.images = {
    hero: "<%= asset_path("homepage-hero-desktop.png") %>",
    logo: "<%= asset_path("quill_and_ink.svg") %>"
  }
</script>

<div id='root'>React down :(</div>