$lightestgreen: rgb(223, 242, 230);
$lightgreen: #14cc45;
$textgreen: #2dbe60;
$green: rgb(18, 169, 56);
$darkgreen: rgb(11, 129, 43);
$yellow: rgb(202, 220, 64);

$selected: #ececec;

$white: rgb(255, 255, 255);
$darkwhite: #f7f7f7;
$lightestgray: #e6e6e6;
$lightgray: #ababab;
$gray: rgb(137, 140, 142);
$darkgray: #737373;
$darkestgray: #4a4a4a;
$black: rgb(0, 0, 0);
$red: #cc4539;