
html, body {
  margin: 0;
}

.app {
  display: flex;
  width: 100%;
}

.errors {
  font-size: 12px;
  color: $red;
  width: 100%;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 75px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.modal-child {
  position: absolute;
  background: white;
  height: 100%;
  width: 460px;
  visibility: hidden;

  -webkit-transform: translateX(-20%);
	-moz-transform: translateX(-20%);
	-ms-transform: translateX(-20%);
  transform: translateX(-20%);
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.show {
  visibility: visible;
  -webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.modal-background-new {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 30;
}

.modal-child-new {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}