.notebooks-index {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: $white;
  border-right: 3px solid $lightestgray;

  .notebooks-index-header {
    display: flex;
    flex-direction: column;
    padding: 22px;
    padding-bottom: 16px;
    color: $lightgray;
    font-weight: 300;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid $lightestgray;

    .notebooks-header-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 28px;

      .fa-book-medical {
        cursor: pointer;
        transition: transform 0.1s ease-in-out;
      }

      .fa-book-medical:hover {
        transform: scale(1.2);
      }
    }

    .notebooks-search-bar {
      border: 1px solid $lightestgray;
      border-radius: 2px;
      background: transparent;
      padding: 10px;
      width: 100%;
      font-size: 14px;
      font-weight: 300;
      text-align: center;
      color: $darkestgray;
    }

    .notebooks-search-bar::placeholder {
      color: $lightgray;
    }
  }

  .notebooks-index-items {
    cursor: pointer;
    
    .notebooks-index-item-container {
      border-bottom: 1px solid $lightestgray;

      i {
        margin-left: 15px;
        color: $white;
        visibility: hidden;
        transition: transform 0.1s ease-in-out;
      }

      .notebooks-index-item {

        .notebooks-index-row {
          display: flex;
          justify-content: space-between;
          color: $darkestgray;
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 0.5px;
          padding: 12px 24px 6px 24px;

          #notebook-title {
            width: auto;
            max-width: 250px;
            font-style: italic;
            font-weight: 400;
          }
        }

        .notebooks-index-item-count {
          color: $darkgray;
          font-size: 12px;
          margin: 0 24px 12px 24px;
        }
      }
    }

    .notebooks-index-item-container:hover {
      background-color: $green;

      .notebooks-index-item-count,
      .notebooks-index-row {
        color: $white;
      }


      i {
        visibility: visible;
      }

      i:hover {
        transform: scale(1.2);
      }
    }

    .selected-notebook {
      background-color: $selected;
    }
  }
}
